/* common css */
html{
	font-size: 100px;  /* 设置100px=1rem */
} 

@media screen and (min-width: 320px){
  html{
    font-size: 90px;
  }
}

@media screen and (min-width: 375px){
  html{
    font-size: 100px;
  }
}

@media screen and (min-width: 414px){
  html{
    font-size: 110px;
  }
}

@media screen and (min-width: 414px){
  html{
    font-size: 110px;
  }
}

body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div,dl,dt,dd,i{
	margin:0;
	padding:0;
	list-style: none;
}

body{
	font-family: Open sans,Helvetica Neue, Helvetica, "Arial", sans-serif;
	width: 100%;
	background: #fff;
}

a{
	text-decoration: none;
	color:#333;
	cursor: pointer;
}

a:hover{
	text-decoration: none;
	color: #333;
}

.clear{
	clear:both;
}

.container{
	padding:0 0.4rem;
}

img{
	border:0;
	max-width: 100%;
}

.col-xs-3,.col-xs-4,
.col-sm-3,.col-sm-4,
.col-md-3,.col-md-4,
.col-lg-3,.col-lg-4{
	margin:0;
	padding:0;
}


/* loginPage css */

.login_header{
	width:100%;
	margin:0.7rem auto 0.2rem;
	text-align: center;
}

.login_header .logo{
	display: block;
	width:0.78rem;
	height: 0.89rem;
	margin: 0 auto 0.35rem;
}

.login_header .logo img{
	max-width: 100%;
}

.login_header h5{
	margin:0 auto;
	font-weight: bold;
}

.login_main{
	width:100%;
	padding:0.15rem 0;
}

input{
	width:100%;
	border:1px solid #B2B2B2;
	height: 0.45rem;
	padding-left:0.35rem;
	margin-bottom: 0.15rem;
	color:#97A8AD;
	border-radius: 0.05rem;
}

.login_main .telIntBox , .login_main .pswIntBox{
	position: relative;
}

.login_main .telIntLab, .login_main .pswIntLab{
	position: absolute;
	top:0.13rem;
	left:0.12rem;
}

.login_main img{
	width:0.15rem;
	height: 0.18rem;
}

.login_main .tipsLink{
	margin-top: 0.1rem;
}

.login_main .tipsLink a{
	display: inline-block;
	padding:0.15rem;
	margin-top: -0.15rem;
}

.login_main .tipsLink .userRegist {
    float: left;
    padding-left: 0.1rem;
    font-size: 0.13rem;
}

.login_main .tipsLink .forgetPsw {
    text-align: right;
    padding-right: 0.1rem;
    float: right;
    color: #FD9162;
    font-size: 0.13rem;
}

.loginBtn, .registBtn, .confirmBtn{
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 0.4rem;
    background: #52B7E3;
    border: 1px solid #52B7E3;
    border-radius: 30px;
    position: relative;
    top:10vh;
    color: #fff;
    text-decoration: none;
	font-size: 0.15rem;
}

.login_main .errorTips{
	display: none;
	width:2rem;
	border-radius: 30px;
	text-align: center;
	padding:0.08rem 0;
	background: rgba(0,0,0,0.2);
	margin:0 auto;
	position: relative;
	bottom:0.35rem;
	color:#fff;
}

/* registPage css */

.regist_header{
	position: relative;
	width:100%;
	height: 0.45rem;
	color:#fff;
	background:#52B7E3;
	text-align: center;
}

.regist_header h5{
	line-height: 0.5rem;
	font-size: 0.16rem;
}

.regist_header .returnBtn{
	display: block;
	width:0.3rem;
	height: 0.3rem;
	position: absolute;
	top:0.1rem;
	left:0.2rem;
}

.icon img{
	width:0.25rem;
	height: 0.25rem;
}

.regist_main .inputWrap{
	margin-top: 0.25rem;
}

.regist_main input{
	padding-left: 0.15rem;
}

/* index css */

.index_proslide{
	height:30vh;
	width:100%;
}

.index_proslide img{
	width:100%;
	height: 30vh;
}

.index_childInfos{
	width:100%;
	height: 60vh;
	line-height: 0.3rem;
	background: #E5EBEB;
	padding:0.06rem 0.06rem 0.3rem;
	overflow: auto;
}

.index_childInfos .container{
	padding:0;
}

.index_childInfos .childInfoBox{
	background: #fff;
	border-bottom: 0.04rem solid #E5EBEB;
	padding:0.2rem 0.3rem 0; 
}

.headPortrait{
	width:0.6rem;
	height:0.6rem; 
	float:left;
	margin-right: 0.1rem;
 }

 .index_childInfos .infoText{
 	float:left;
 	position: relative;
 	top:0.05rem;
 }

.index_childInfos h4,
.index_childInfos h5,
.index_childInfos h6{
	margin-bottom: 0.05rem;
}

.index_childInfos h4{
	font-size: 0.14rem;
}

.index_childInfos h5{
	font-size: 0.12rem;
}

.index_childInfos h6{
	font-size: 0.1rem;
	line-height: 0.14rem;
	color:#97A8AD;
 	max-width: 60vw;
 	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.index_childInfos .operate{
	text-align: center;
	padding:0.15rem 0.2rem;
}

.index_childInfos .operate .icon img{
	width:0.15rem;
	height: 0.15rem;
}

.index_childInfos .operate .icon p,
.index_footer p
{
	font-size: 0.1rem;
	color:#97A8AD;
}

.index_footer{
	height: 10vh;
	text-align: center;
	padding:0.11rem 0 0.13rem;
} 

.index_footer p{
	padding-top: 0.065rem;
}

/*  personalInfos css */

.pslInfo_header{
	height: 15vh;
	position: relative;
	background: #52B7E3;
	padding:0.2rem 0;
	color:#fff;
}

.pslInfo_header .container,
.pslInfo_mainCon .container{
	padding:0 0.3rem;
}

.pslInfo_header .icon
{
	width:0.1rem;
	height:0.18rem;
	position: absolute;
	top:55%;
	right:0.45rem;
}

.pslInfo_header .headTxt{
	float: left;
	position: relative;
	top:0.1rem;
}

.pslInfo_header .headTxt h4{
	float: left;
	line-height: 0.3rem;
}

.pslInfo_mainCon{
	height: 75vh;
	overflow: auto;
	position: relative;
	background: #E5EBEB;
}

.pslInfo_mainCon .icon{
	width:0.1rem;
	height:0.18rem;
	position: absolute;
	right:0.45rem;
}

.pslInfo_header .icon img,
.pslInfo_mainCon .icon img{
	width:100%;
	height: 100%;
}

.pslInfo_mainCon .pslInfo_box,
.pslInfo_mainCon .operate_box,
.pslInfo_mainCon .exitBtn{
	background: #fff;
	margin-bottom: 0.03rem;
}

.pslInfo_mainCon .pslInfo_box{
	padding-bottom: 0.2rem;
}

.pslInfo_mainCon dl{
	width:100%;
	padding:2vh 0.1rem 4.6vh;
	border-bottom:0.01rem solid #B2B2B2;
	font-size: 0.14rem;
}

.pslInfo_mainCon .homeAdrss,
.pslInfo_mainCon .addBind{
	border-bottom:0;
}

.pslInfo_mainCon .homeAdrss dd{
	float: left;
	margin-top:0.05rem;
}

.pslInfo_mainCon dt{
	color:#97A8AD;
	float:left;
	font-weight: 400;
}

.pslInfo_mainCon dd{
	float:right;
}

.pslInfo_mainCon .exitBtn{
	text-align: center;
	padding:0.18rem 0;
}

.pslInfo_mainCon .exitBtn a{
	color:#FD9162;
	padding:0.2rem;
	text-decoration: none;
}

/* pslInfo_modifyPsw css */

.pslInfo_modifyPsw .confirmBtn{
	margin-top: 18vh;
}

/* pslInfo_modifyInfos css */

.pslInfo_modifyInfos .confirmBtn{
	margin-top: 3vh;
}

/* pslInfo_bind css */

.pslInfoBind_header .container,
.pslInfoBind_mainCon .container{
	padding:0 0.3rem;
}

.pslInfoBind_header{
	height: 10vh;
}

.pslInfoBind_header .inputForm{
	position: relative;
}

.pslInfoBind_header .searchInt{
	background: #E5EBEB;
	height: 0.3rem;
	border-radius:0.3rem;
	margin-top: 0.15rem;
}

.pslInfoBind_header .icon{
	position: absolute;
	top:0.19rem;
	display: block;
	width:0.16rem;
	height: 0.16rem;
}

.pslInfoBind_header .icon img{
	height: 100%;
}

.pslInfoBind_header .searchIcon{
	right:0.35rem;
}

.pslInfoBind_header .deleteIcon{
	right:0.1rem;
}

.pslInfoBind_mainCon{
	height: 82vh;
	overflow: auto;
}

.pslInfoBind_mainCon .headPortrait{
	width:0.36rem;
	height: 0.36rem;
	position: relative;
}

.pslInfoBind_mainCon .childInfo_content{
	width:100%;
	height: 0.8rem;
	border-bottom: 0.01rem solid #B2B2B2;
	margin-bottom: 0.2rem;
}

.pslInfoBind_mainCon .childInfo_content .leftPart{
	width:90%;
	float:left;
}

.pslInfoBind_mainCon  .infoText{
	float: left;
	position: relative;
	top:0.02rem;
}

.pslInfoBind_mainCon  .infoText h6{
	margin:0.08rem 0;
}

.gray{
	color:#97A8AD;
}

.blue{
	color:#52B7E3;
}

.pslInfoBind_mainCon .bindBtn{
	float:left;
	display: inline-block;
	width:10%;
	color:#52B7E3;
	position: relative;
	top:0.22rem;
}

.pslInfoBind_footer{
	height: 8vh;
	background: #fff;
}

/* 退出当前账号弹出框 */

.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    filter: Alpha(Opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    z-index: 9998; /*这个数值比pop box小*/
}

.pop-box{
	display: none;
	background: #fff;
	position:absolute;
	width:94%;
	height: 1rem;
	left:0;
	right:0.1rem;
	bottom:-100px;
	margin:0 auto;
	z-index: 9999;
}

.pop-box .popHeader{
	padding:0.15rem 0;
	height: 0.5rem;
	border-bottom:1px solid #B2B2B2;
}

.pop-box .popHeader .pophdcon{
	width:1.5rem;
	margin:0 auto;
	line-height: 0.3rem;
}

.pop-box .popHeader .pophdcon h5{
	position: relative;
	top:0.03rem;
}

.pop-box .popHeader .pophdcon .warnIcon{
	width:0.25rem;
	height: 0.2rem;
	float:left;
	margin-right: 0.1rem;
}

.pop-box .outContent .exit,
.pop-box .outContent .unExit{
	display: inline-block;
	width:50%;
	text-align: center;
	float:left;
	height: 0.45rem;
	line-height: 0.5rem;
	margin-bottom: 0.05rem;
	color:#97A8AD;
	text-decoration: none;
}

.pop-box .outContent .unExit{
	color:#FD9162;
	border-left:1px solid #B2B2B2;
}

/* application css  */

.appMainPage_header .container,
.appMainPage_content .container,
.appMainPage_footer .container{
	padding:0 7vw;
}

.appMainPage_header{
	height: 8vh;
	padding-top: 0.2rem;
}

.appMainPage_header .inputForm{
	width:75%;
	position: relative;
	float:left;
}

.appMainPage_header .inputForm .searchInt{
	border: 0;
	border-radius: 0;
	border-bottom:1px solid #B2B2B2;
	height: 0.23rem;
	padding-left: 0.15rem;
}

.appMainPage_header .icon{
	display: inline-block;
	width:0.15rem;
	height: 0.15rem;
}

.appMainPage_header .icon img{
	height:100%;
}

.appMainPage_header .inputForm .searchIcon{
	position: absolute;
	top:0;
	right:0.25rem;
}

.appMainPage_header .inputForm .deleteIcon{
	position: absolute;
	top:0;
	right:0.02rem;
}

.appMainPage_header .uploadBox{
	width:0.63rem;
	position: relative;
	top:0.05rem;
	float:right;
	text-align: right;
}

.appMainPage_header .uploadBox .uploadIcon{
	width:0.3rem;
	height: 0.3rem;
	padding:0.08rem;
	position: absolute;
	left:0.03rem;
	top:-0.1rem;
}

.appMainPage_content{
	width:100%;
	height: 81vh;
	overflow: hidden;
}

.appMainPage_content .divider{
	width:100vw;
	border-bottom: 0.04rem solid #E5EBEB;
	position: relative;
	right:0.26rem;
	overflow: hidden;
}

.appMainPage_content .nav-tabs{
	width:1.8rem;
	height: 5vh;
	border: 0;
	margin:0 auto 0.03rem;
}

@media(min-width: 375px){
.appMainPage_content .nav-tabs{
	width:1.6rem;
}

}

.appMainPage_content .nav>li>a {
    padding: 3px;
}

.appMainPage_content .nav>li>a:hover{
	border-color: transparent;
	border-radius: 0;
}

.appMainPage_content .nav-tabs>li.active>a, .appMainPage_content .nav-tabs>li.active>a:focus, .appMainPage_content .nav-tabs>li.active>a:hover {
	border:0;
	border-bottom: 2px solid #52B7E3;
}

.appMainPage_content .nav-tabs .myupload{
	margin-right: 0.3rem;
}

.appMainPage_content .appIcon{
	min-width: 0.41rem;
} 

@media(min-width: 475px){
.appMainPage_content .appIcon{
	width:10%;
} 
}

.appMainPage_content .appIcon img{
	width:0.41rem;
	height: 0.41rem;
}

.appMainPage_content table{
	width:100%;
}

.appMainPage_content tbody tr{
	border-bottom: 1px solid #B2B2B2;
}

.appMainPage_content tbody td{
	padding:0.05rem;
	height: 10vh;
}

.appMainPage_content .appName{
	width:45%;
	font-size: 0.12rem;
}

.appMainPage_content .appName small{
	color:#97A8AD;
	font-size: 0.09rem;
}

.appMainPage_content .appType{
	width:20%;
	text-align: right;
	color:#97A8AD;
	font-size: 0.11rem;
}

.appMainPage_content .deleteBtn{
	width:0.6rem;
	text-align: right;
	color:#52B7E3;
	cursor: pointer;
}

.appMainPage_content .tabbable .tab-content{
	height: 74vh;
	overflow: auto;
}

.appMainPage_footer{
	height: 10vh;
	border-top: 1px solid #92A2A8;
	box-sizing:border-box;
}

/* application_upload css */


.appUpload_mainCon .container{
	padding:0 8vw;
	color: #97A8AD;
}

.appUpload_mainCon label{
	font-weight: 400;
}

.appUpload_mainCon .inputWrap .uploadPerson{
	position: relative;
}

.appUpload_mainCon .inputWrap .uploadPerson label{
	position: absolute;
	top:0.125rem;
	left:0.03rem;
}

.appUpload_mainCon .inputWrap .uploadPerson #uploadPerson_int{
	border:0;
	border-radius: 0;
	border-bottom: 1px solid #B2B2B2;
	padding-left: 0.7rem;
}

.appUpload_mainCon .inputWrap .appType,
.appUpload_mainCon .inputWrap .uploadFile
{
	text-align: center;
	position: relative;
}

.appUpload_mainCon h5{
	color:#333;
	margin:0.15rem 0 0.15rem 0.05rem;
	text-align: left;
}

.appUpload_mainCon .inputWrap .appType input{
	display: none;
}

.appUpload_mainCon .inputWrap .appType label{
	width:28%;
	height: 0.4rem;
	line-height: 0.4rem;
	border:1px solid #B2B2B2;
	border-radius: 4px;
	text-align: center;
	margin:2%;
}

.appUpload_mainCon .inputWrap .uploadFile{
	margin:0.5rem 0 0.7rem;
}

.appUpload_mainCon .inputWrap .uploadFile input{
	display: none;
}
.appUpload_mainCon .inputWrap .uploadFile label{
	position: relative;
	width:100%;
	height: 0.4rem;
	line-height: 0.4rem;
	border:1px solid #B2B2B2;
	border-radius: 4px;
	text-align: left;
	padding-left:0.1rem;
}

.appUpload_mainCon .inputWrap .uploadFile label p{
	float:left;
	width:80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;  /*强制不换行*/
}

.appUpload_mainCon .inputWrap .uploadFile label .fileIcon{
	float:right;
	width:0.45rem;
	height: 100%;
	border-left:1px solid #B2B2B2;
}

.appUpload_mainCon .inputWrap .uploadFile label img{
	position: absolute;
	right:0.08rem;
	top:0.08rem;
	width:0.25rem;
	height: 0.22rem;
}

/* 通讯录 */

.index_popDiv .popHeader .pophdcon{
	width:1.2rem;
}

.addressList_popDiv .popHeader .pophdcon{
	width:1.3rem;
}

.addressList_content .headPortrait{
	width:0.49rem;
	height: 0.49rem;
}

.addressList_content .headPortrait img{
	width: 100%;
	height: 100%;
}

.addressList_content .infoText{
	position: relative;
	top:0.1rem;
}

.addressList_mainCon .addressList_content .leftPart{
	width:70%;
	float:left;
}

.addressList_mainCon .addressList_content .rightPart{
	float:right;
	width:30%;
	text-align: right;
	line-height: 0.49rem;
}

.addressList_mainCon .addressList_content .rightPart .modifyBtn{
	margin-right: 0.1rem;
}

.addressList_mainCon .addressList_content {
    height: 0.65rem;
}

.addressList_mainCon .addressList_content h6{
	font-size: 0.1rem;
}

/* addressList_addContacts  css */

.addContacts_main .addPortrait_wrap{
	text-align: center;
	margin:0.5rem 0 0.3rem;
}

.addContacts_main .addPortrait_wrap label{
	width:0.86rem;
	height: 0.86rem;
}

.addContacts_main #addPortrait{
	display: none;
}

.addContacts_main .completeBtn{
	margin-top: 0.4rem;
}




















































